@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  * {
    user-select: none;
  }

  * {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  body {
    @apply font-primary bg-darkblue text-white leading-normal;

    margin: 0;
    font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /*font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
    /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
    /*sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .h3 {
    @apply text-[22px] lg:text-[32px] font-bold;
  }
  .btn {
    @apply bg-blue h-[60px] px-4 rounded-full hover:bg-blue-hover transition flex items-center text-lg font-medium outline-none;
  }
  .section {
    @apply py-12 lg:py-24;
  }
  .section-title {
    @apply text-2xl lg:text-[40px] font-bold leading-normal mb-6;
  }
  .section-subtitle {
    @apply mt-6 mb-8 text-gray;
  }
  .input,
  .select {
    @apply outline-none w-full border-b border-gray text-darkblue h-[38px] text-xl;
  }
  .input {
    @apply lg:max-w-[410px] bg-transparent;
  }
  .select {
    @apply lg:max-w-[200px] cursor-pointer;
  }
}

.hero-block {
  position: relative;
}

.frame-motion {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hero-block.visible .frame-motion {
  opacity: 1;
  transform: translateY(0);
}